* {
    margin: 0;
    padding: 0;
    /* 设置移动端所有标签都要设置盒模型防止边框 padding把盒子变大出滚动条（禁止出现横向滚动条的） */
    box-sizing: border-box;
    /* 去掉a等标签能够点击的标签的高亮背景色 移动端特殊的（按住才会触发） */
    -webkit-tap-highlight-color: transparent;
    /* 去掉所有标签内边框 */
    outline: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    vertical-align: middle;
}

input {
    border: 0;
    outline: 0;
}

/* 清除浮动公共类（使用flex布局基本上用不到浮动了 ） */

.clearfix::before {
    content: '';
    display: block;
    clear: both;
}